:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

.login-btn {
  background-color: #55AA00;
  color: #fff;
  padding: 15px;
  min-width: 260px;
  border-radius: 3px;
  border-color: transparent;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
}